@{
    ViewBag.Title = "Chương Trình Khuyến Mãi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Mua càng nhiều, khuyến mãi cực chất,... Chỉ có ở Phone Store</p>
<section class="wrapper" style="height:672px;background-image:url(https://cdn.tgdd.vn/2023/02/campaign/MHD-OPTION-4---LAN-2-1920x672.png)">
   @* <div class="link-popup">
         <a href="javascript:PopupHTML(4130)">Xem Ngay </a>
        </div>*@
</section>
<p>
    <ion-icon name="bicycle-outline"style="color:black; font-size:18px;"></ion-icon>Về giao hàng:
    <br />
    - Sản phẩm không lắp đặt: Miễn phí giao hàng ngay.
    <br />
    - Sản phẩm lắp đặt: Miễn phí mọi chi phí phát sinh.
    <br />
    <ion-icon name="pricetags-outline" style="color:black; font-size:18px;"></ion-icon>Ưu đãi thanh toán:
    Tùy sản phẩm, tùy chương trình mà sẽ được áp dụng kèm các khuyến mãi khác hoặc trả góp với các gói lãi suất đặc biệt (0%, 0.5%, 1.25%...).<br />
    Mọi thông tin thắc mắc vui lòng comment bên dưới hoặc liên hệ tổng đài 07972880123. Xin cảm ơn!

</p>
