@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout - Phone.cshtml";
}
<hr />
<hr />
<div class="abc" style="padding:10px 10px;">
    <address>
        Phone Store<br />
        Since 2023<br />
        <abbr title="Phone">P:</abbr>
        0797388017
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>

    </address>

</div>