@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.title = "Chăm sóc khách hàng";
}
<main style="background-color: #ffff; border-radius:3px;padding:20px 20px; ">
    <section>
        <h2>Giới thiệu</h2>
        <ul>
        <li>Chúng tôi chuyên cung cấp các sản phẩm điện thoại di động chính hãng từ các thương hiệu nổi tiếng như Samsung, Apple, Xiaomi, Oppo, Vivo...</li>
        <li><a href="~/Views/khuyenmaihot/Index.cshtml">Ngoài ra, còn các chương trình khuyến mãi hot dành cho khách hàng.</a></li>
        </ul>
    </section>

    <section>
        <h2>Dịch vụ của chúng tôi</h2>
        <ul>
            <li>Bảo hành và sửa chữa điện thoại</li>
            <li>Tư vấn và hỗ trợ khách hàng</li>
            <li>Cung cấp linh kiện và phụ kiện điện thoại</li>
        </ul>
    </section>

    <section>
        <h2>Đội ngũ nhân viên</h2>
        <ul>
            <li>Chúng tôi có đội ngũ nhân viên tận tình và chuyên nghiệp, sẵn sàng giúp đỡ khách hàng mọi lúc mọi nơi.</li>
        </ul>
    </section>

    <section>
        <h2>Liên hệ</h2>
        
        <ul>
            <li>Nếu bạn có bất kỳ câu hỏi hoặc yêu cầu nào, vui lòng liên hệ với chúng tôi theo thông tin sau:</li>
            <li>Số điện thoại: 0797288017</li>
            <li>Email: nguyenthanhdat1491@gmail.com</li>
            <li>Địa chỉ: 58/2c Trương Văn Thành, Phường Hiệp Phú, TP. Thủ Đức</li>
        </ul>
    </section>

    <footer style="font-weight:50px; font-size:20px; color:black">
        <ul>
        <li>Bản quyền © 2023 Chăm sóc bán hàng điện thoại Ba Anh Em</li>
            </ul>
    </footer>
</main>

